.card-image {
    position: relative;
    width: 24%;
    img {
        width: 100%;
    }
    @media (max-width: 1390px) {
        width: 350px;
    }
    @media (max-width: 1198px) {
        width: 45%;
    }
    @media (max-width: 499px) {
        width: 95%;
    }
}

.card-image:nth-child(1):hover {

}

.card-image-icons {
    margin-top: -40px;
    opacity: 0;
}

.card-image:hover .card-image-icons {
    opacity: 1;
}

.card-album {
    width: 300px;
    height: 300px;
}

.card-album::before {
    content: '';
    position: absolute;
    border-color: black;
    border-style: inset;
    border-width: 0 0 0.1em 0;
    top: -18px;
    left: 18px;
    margin-top: 1em;
    width: 18.5em;
}

.card-album::after {
    content: '';
    position: absolute;
    border-color: black;
    border-style: inset;
    border-width: 0 0 0.1em 0;
    top: -20px;
    left: 21px;
    margin-top: 1em;
    width: 18em;
}
