.header2 {
    padding-top: 95px;
    margin-top: -75px;
}

.nav-link .active a::after {
    border-bottom: 5px solid #5bc0eb;
    bottom: -10px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
}
