.foto-albums{
    background-color: aqua;
}

/* форма */


.profile-form{
    margin: 0 25px;
}
#profile-form-hider {
    display: none;
}
#profile-form-hider:checked + .profile-form-edit {
    display: block;
}

.profile-form .profile-form-edit {
    display: none;
}

.profile-form .profile-form-edit h3{
    text-align: center;
    margin: 0 0 17px 0;
}
.profile-form .profile-form-edit .profile-form-div{
    display: flex;
    justify-content: space-between;
}


.profile-form .profile-form-edit .input{
    width: 110px;
    height: 20px;
    border-radius: 3px;
    outline: none;
    background: transparent;
    border: 2px solid #22272d;
    padding-left: 60px;
    color: black;
    margin-bottom: 8px;
    margin-left: 5px;
}

.profile-form .profile-form-save{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}