.foto-albums{
    display: block;
    width: 100%;
}
.managment{
    display: flex;
    justify-content: space-around;
}
.managment .profile-foto{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.managment .nav-header-a{
    margin-left: auto;
    margin-right: auto;
}
.managment .nav-header-a:hover{
    margin-left: auto;
    margin-right: auto;
}
.managment .profile-info{
    margin: 0 10px;
    max-width: 30%;
}
.btn2{
    height: 70px;    
}
/* форма */


.profile-form{
    margin: 0 25px;
}
#profile-form-hider {
    display: none;
}
#profile-form-hider:checked + .profile-form-edit {
    display: block;
}

.profile-form .profile-form-edit {
    display: none;
}
.profile-form .profile-form-edit .profile-form-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.profile-form .profile-form-edit .profile-form-div-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-form .profile-form-edit .profile-form-div .input{
    width: 75px;
    height: 20px;
    border-radius: 3px;
    outline: none;
    background: transparent;
    border: 2px solid #22272d;
    padding-left: 10px;
    color: black;
    margin-left: 5px;
}
.profile-form .profile-form-edit .profile-form-div .label{
margin: 0;
}
.profile-form .profile-form-save{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
/* форма для фото */
#profile-form-foto-hider {
    display: none;
}
#profile-form-foto-hider:checked + .profile-form-edit {
    display: block;
}
.foto-form-add-foto .profile-form-edit .profile-form-div .select{
    width: 90px;
    height: 26px;
    border-radius: 3px;
    outline: none;
    background: transparent;
    border: 2px solid #22272d;
    color: black;
    margin-left: 5px;
}
.foto-form-add-foto .profile-form-edit .foto-add{
    margin-top: 25px;
}


/* навигация просмотр фото */
.foto-view{
    display: flex;
    justify-content: space-around;
}

.foto-albums-hr{
    margin: 10px 35px;
}
.foto-albums-view-albums{
    display: flex;
    justify-content: space-between;
}

/* .foto-albums-view .foto-albums-view-albums{
    height: 300px;
    background-size: cover;
}
.foto-albums-view .foto-albums-view-albums .p{
    color: aqua;
} */
