/* Слайдер */
main #slider_bl{
    margin-top: 30px;
    padding: 0 45px ;
    height: 50%;
  }
  #slider_bl .wrapper{ 
  position:relative;
  width: 100%;
  }
  #slider_bl input{
    display:none
  }
  #slider_bl .inner{
    width:500%;
  }
  
  .categori{
    display: flex;
  }
  .categori-1,.categori-2{
    display: flex;
    flex-direction:column;
    width: 100%;
  }
  #slider_bl  .categori-Men{
    width: 99%;
    height:330px;
    background-image: url(../svg/IMG/ImgIndex/main/category/Men.png);
    margin-bottom: 5px;
    background-size: cover;
  }
  #slider_bl .categori-Acctsories{
    width:99%;
    height: 185px;
    background-image:url(../svg/IMG/ImgIndex/main/category/ACCESORIES.png);
    background-size: cover;
  }
  
  #slider_bl .categori-Women {
    width: 100%;
    height: 200px;
    background-image: url(../svg/IMG/ImgIndex/main/category/women.png);
    background-size:cover; 
    margin-bottom: 5px;
  }
  
  #slider_bl .categori-Kids {
    width: 100%;
    height: 315px;
    background-image: url(../svg/IMG/ImgIndex/main/category/Kids.png);
    background-size: cover;
  }
  
  #slider_bl article h3 {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: black;
    background-color: white;
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
  }
  
  #slider_bl article{
    width:20%;
    float:left;
    position:relative;
  }
  /* значок слайдера */
  /* расположение */
  #slider_bl .slider-prev-next-control{
    position:absolute;
    top:50%;
    width:100%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%)
  }
  /* значок */
  #slider_bl .slider-prev-next-control label{
    /* display:none; */
    width:70px;
    height:40px;
    border-radius:50%;
    background:white;
    opacity:.7
  }
  /* при наведении */
  #slider_bl .slider-prev-next-control label:hover{
    opacity:1;
  }
  /* точки */
  /* расположение */
  #slider_bl .slider-dot-control{
    position:absolute;
    width:100%;
    bottom:30;
    text-align:center;
  }
  /* вид */
  #slider_bl .slider-dot-control label{
    cursor:pointer;
    border-radius:5px;
    display:inline-block;
    width:20px;
    height:10px;
    background:#bbb;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;transition:all .3s;
    margin: 0 5px;
  }
  #slider_bl .slider-dot-control label:hover{
    background:#ccc;
    border-color:#777;
  }
  
  /* размер окна */
  #slider_bl .slider-wrapper{
    height: 520px; 
    width:100%;
    overflow:hidden;
    /* box-shadow:1px 1px 4px #666; */
    background: white;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-transition:all .5s ease-out;
    -moz-transition:all .5s ease-out;
    transition:all .5s ease-out;
  }
  
  #slider_bl .slider-wrapper .inner{
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-transition:all .8s cubic-bezier(.77,0,.175,1);
    -moz-transition:all .8s cubic-bezier(.77,0,.175,1);
    transition:all .8s cubic-bezier(.77,0,.175,1)
  }
  /* значоки < > */
  /* значок */
  #slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after{
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    text-decoration:inherit;
    margin:0;
    line-height:38px;
    font-size:3em;
    display:block;
    color:#777
  }
  /* расположение с права */
  #slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1)::after{
    content:"\f105";
    padding-left:40px
  }
  /* отступ овала справа */
  #slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2),#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3),#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4),#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5),#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1){
    display:block;
    float:right;
    margin-right:5px
  }
  #slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5),#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1),#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2),#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3),#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4){
    display:block;
    float:left;
    margin-left:5px
  }
  /* расположение < слева */
  #slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after{
    content:"\f104";
    padding-left:8px;
  }
  /* цвет активной точки */
  #slider_bl #slide1:checked~.slider-dot-control label:nth-child(1),#slider_bl #slide2:checked~.slider-dot-control label:nth-child(2),#slider_bl #slide3:checked~.slider-dot-control label:nth-child(3),#slider_bl #slide4:checked~.slider-dot-control label:nth-child(4),#slider_bl #slide5:checked~.slider-dot-control label:nth-child(5){
    background:#333
  }
  
  #slider_bl #slide1:checked~.slider-wrapper .inner{margin-left:0}
  #slider_bl #slide2:checked~.slider-wrapper .inner{margin-left:-100%}
  #slider_bl #slide3:checked~.slider-wrapper .inner{margin-left:-200%}
  #slider_bl #slide4:checked~.slider-wrapper .inner{margin-left:-300%}
  #slider_bl #slide5:checked~.slider-wrapper .inner{margin-left:-400%}
  